{
    NSMACHOperatingSystem = {
        Archs = "18 "; 
        "Executable-$[PBProject projectName]$[PBProjectType executableExtension]" = {
            asrc_array = (/Local/Users/leigh/Sources/Music/MusicKit/YellowBox/Frameworks/MusicKit); 
            cla_array = (
                ("<", ../../Music/Scores/BeadGame.score), 
                ("<", "~/Library/Lobe/PlaybackHistory/temp.midi_mk.score")
            ); 
            cla_array_index = 1; 
        }; 
        LauncherSelectedExec = ("$[PBProject projectName]$[PBProjectType executableExtension]"); 
        Target = tool; 
    }; 
}
