{
    NSInfoPlistVersion = "5.0";
    NSAppVersion = "2.0";
    NSHumanReadableShortName = "PatchCord";
    NSHumanReadableCompleteName = "PatchCord MIDI SysEx Librarian/Editor";
    NSHumanReadableCopyright = "Copyright (c) 1998 Leigh Smith, All Rights Reserved.";
    NSTypes = (
	{
	    NSName = "MIDI";
	    NSHumanReadableName = "Standard MIDI File Type 1 Containing SysEx Messages.";
	    NSUnixExtensions = ("midi");
	    NSDOSExtensions = ("midi");
	    NSRole = Editor;
	    NSDocumentClass = Bank;
	}
    );
    NSServices = (
      { NSPortName = PatchCord;
        NSMessage = patchMessage;
        NSSendTypes = (NSStringPboardType);
        NSReturnTypes = (NSStringPboardType);
        NSMenuItem = {
            default = "Import as SysEx Message";
            English = "Import as SysEx Message";
            French = "Importier SysEx Message";
            German = "Import as SysEx Message";
        };
        NSKeyEquivalent = {
            default = I;
            German = I;
        };

      }
    );
}

 	
