{
    NSMACHOperatingSystem = {
        Archs = "18 "; 
        "Executable-$[PBProject projectName]$[PBProjectType executableExtension]" = {
            cla_array = (
                (
                    "-m", 
                    "-o", 
                    "~/Most.midi", 
                    "~/Library/Lobe/PlaybackHistory/MostRecentlyPlayed.score"
                ), 
                (
                    "-m", 
                    "-o", 
                    "~/rearticulation/rearticulation_new.midi", 
                    "~/rearticulation/rearticulation.score"
                ), 
                (
                    "-s", 
                    "-n", 
                    "-c", 
                    "-o", 
                    "~/rearticulation/rearticulation_new.score", 
                    "~/rearticulation/rearticulation.midi"
                ), 
                ("-s", "-o", /tmp/foo.score, /tmp/foo.playscore)
            ); 
            cla_array_index = 2; 
        }; 
        LauncherSelectedExec = ("$[PBProject projectName]$[PBProjectType executableExtension]"); 
        Target = tool; 
    }; 
}
